* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*margin: 10px;*/
}

button:hover {
    background-color: #ccc;
}

button span {
    font-weight: Bold;
    color: #555555;
    background: yellow;
    margin: auto;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #555;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}

.tasks {
    flex: 0.7;
    padding: 20px;
    /*border: 1px solid #aaa;*/
    box-sizing: border-box;
    text-align: left;
    margin-top: 20px;
    /*background: #eee;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 1);*/
}


.taskDisplay {
    display: flex;
    align-items: center;
    gap: 20px;
}

.timestamp {
    font-size: 14px;
    color: #444;
    margin-right: auto;
}



.taskCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background: yellow;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.taskCard-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.taskCard-description {
    font-size: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.taskCard-time {
    font-size: 14px;
    color: #666;
}

.input-box {
    position: fixed;
    right: 30px;
    transform: translateY(-15%);
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

input,
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.month-year {
    margin: 30px;
}

.submitButton {
    margin-top: 10%;
}

.addTaskButton {
    background-color: #888;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;  /* Smaller font size */
    width: 10%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addTaskButton:hover {
    background-color: #aaa;
}

.addTaskContainer {
    display: flex;
    justify-content: space-between;
}

.manageButtonContainer {
    justify-content: space-between;
    margin-top: 10px;
}

.taskHandleButton {
    padding: 8px 16px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#update {
    background-color: blue;
    color: white;
}

#delete {
    background-color: red;
    color: white;
}

.taskHandleButton:hover {
    filter: brightness(1.2); /* Brighten the button on hover */
}